<h2>history</h2>


<div *ngIf="fullHistory.length != 0 else elseBlock4" >

<button (click)="bookmarkFilter = !bookmarkFilter">{{!bookmarkFilter ? 'Bookmarked Only' : 'Show All'}}</button>

 <md-nav-list *ngIf="!bookmarkFilter else elseBlock">


    <md-list-item *ngFor="let item of fullHistory">
        
     <a md-line routerLink="/display/{{item.index}}">
     <span md-line>{{ item.tag.q }}</span> 
      <span md-line *ngIf="!item.qOnly else elseBlock2">{{ item.tag.a }}</span> 
      <ng-template #elseBlock2 ><span md-line>Answer Not Viewed</span>  </ng-template>
      </a>
      
     </md-list-item>

 </md-nav-list >

<ng-template #elseBlock >
 <md-nav-list > 
    
    <md-list-item *ngFor="let item of bookmarkFiltered">
        
        <a md-line routerLink="/display/{{item.index}}">
        <span md-line>{{ item.tag.q }}</span>    
      <span md-line *ngIf="!item.qOnly else elseBlock3">{{ item.tag.a }}</span> 
      <ng-template #elseBlock3 ><span md-line>Answer Not Viewed</span>  </ng-template>
         </a>
     </md-list-item>
 
  
</md-nav-list >  
</ng-template> 

</div>

 <ng-template #elseBlock4 ><span md-line>Must Be Logged-In User to Have History</span>  </ng-template> 