<h2>history</h2>

<md-radio-group class="example-radio-group" [value] = "'View All'"(change)="applyFilter($event.value)">
  <md-radio-button class="example-radio-button" *ngFor="let filter of filters" [value]="filter">
    {{filter}}
  </md-radio-button>
</md-radio-group>


<!--TODO -- figure out how to deal with history as load page-->

<div *ngIf="loggedIn else elseBlock" >

 <md-nav-list>


    <a md-list-item *ngFor="let item of filtered" routerLink="/display/{{item.index}}">
      <md-icon md-list-icon *ngIf="item.bookmark">check</md-icon>
     <span md-line>{{ item.tag.q }}</span> 
      <span md-line *ngIf="!item.qOnly else elseBlock2">{{ item.tag.a }}</span> 
      <ng-template #elseBlock2 ><span md-line>Answer Not Viewed</span>  </ng-template>
      </a>
      


 </md-nav-list >

</div>

 <ng-template #elseBlock ><span md-line>Must Be Logged-In User to Have History</span>  </ng-template> 