 
 <md-sidenav-container>

    <md-toolbar color="accent">
        <button md-icon-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
        </button>
        <span>noettol.io</span>
    </md-toolbar>

<md-sidenav #sidenav mode="side" opened="false">
 
  <md-nav-list > 

    <md-list-item>
     <a md-line routerLink="home">
     <span md-line>HOME PAGE</span>    
     </a>
   </md-list-item>
   
    <md-list-item>
     <a md-line routerLink="history">
     <span md-line>HISTORY</span>    
     </a>
   </md-list-item>
   
    <md-list-item>
     <a md-line routerLink="serious">
     <span md-line>A SERIOUS NOTE</span>    
     </a>
   </md-list-item>
   
  </md-nav-list>


  </md-sidenav>
  
 <button md-raised-button  *ngIf="!flag" (click)="login()">Login with Google</button>
<button md-raised-button  *ngIf="flag" (click)="logout()">Logout</button>
{{flag}}


  
      <router-outlet ></router-outlet>
     
</md-sidenav-container>


