 
 <md-sidenav-container>

    <md-toolbar color="accent">
        <button md-icon-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
        </button>
        <span>NOETTOL</span>
        <span class="example-fill-remaining-space"></span>
        <h5>[ mobile knowledge ]</h5>
        <span class="example-fill-remaining-space"></span>
     <button md-anchor class="secondary" *ngIf="!flag" (click)="login()">Login with Google</button>
     <button md-anchor class="secondary" *ngIf="flag" (click)="logout()">Logout</button>
    </md-toolbar>

<md-sidenav #sidenav mode="side" opened="false">
 
  <md-nav-list > 

    <md-list-item>
     <a md-line routerLink="home">
     <span md-line>HOME</span>    
     </a>
   </md-list-item>
   
    <md-list-item>
     <a md-line routerLink="history">
     <span md-line>HISTORY</span>
     <span md-line *ngIf="!flag">(logged in only)</span>
     </a>
   </md-list-item>
   
    <md-list-item>
     <a md-line routerLink="serious">
     <span md-line>OFFICE</span>    
     </a>
   </md-list-item>
   
       <md-list-item>
     <a md-line href="mailto:?&subject=testtt&body=https://noettol.com/display/{{this.qaServ.current}}" target="_blank">
     <span md-line>MAIL</span> 
     <span md-line>{{this.qaServ.current}}</span>
     </a>
   </md-list-item>
   
    <md-list-item>
     <a md-line href="https://twitter.com/home?status=https://noettol.com/display/{{this.qaServ.current}}" target="_blank">
     <span md-line>TWEET</span> 
     <span md-line>{{this.qaServ.current}}</span>
     </a>
   </md-list-item>
   
    <md-list-item>
     <a md-line href="https://plus.google.com/share?url=https%3A//noettol.com/display/{{this.qaServ.current}}" target="_blank">
     <span md-line>GooglePlus</span> 
     <span md-line>{{this.qaServ.current}}</span>
     </a>
   </md-list-item>
   
   <md-list-item>
     <span md-line (click)="qaServ.newQA()">NEW QA?</span>    
   </md-list-item>
   
      <md-list-item>
     <span md-line (click)="sidenav.toggle()">CLOSE</span>    
   </md-list-item>
   
  </md-nav-list>



  </md-sidenav>
  



  
      <router-outlet ></router-outlet>
     
</md-sidenav-container>


