 
 <md-sidenav-container>

    <md-toolbar color="accent">
        <button md-icon-button (click)="sidenav.toggle()">
        <md-icon>menu</md-icon>
        </button>
        <span>NOETOL</span>
        <span class="example-fill-remaining-space"></span>
        <span [style.font-size]="'11px'" *ngIf="loggedIn">Hello {{displayName}} </span>
     <span class="example-fill-remaining-space"></span>
     <button md-anchor class="secondary" *ngIf="!loggedIn" (click)="login()">Login</button>
     <button md-anchor class="secondary" *ngIf="loggedIn" (click)="logout()">Logout</button>
    </md-toolbar>

<md-sidenav #sidenav mode="side" opened="false">
 
  <md-nav-list > 

    <md-list-item>
     <a md-line routerLink="home">
     <span md-line>Home</span>    
     </a>
   </md-list-item>
   
    <md-list-item>
     <a md-line routerLink="history">
     <span md-line [style.color]="loggedIn ? 'black': 'grey'">History</span>
     <span md-line [style.color]="'gray'" [style.font-size]="'11px'" *ngIf="!loggedIn">logged in only</span>
     </a>
   </md-list-item>
   
    <md-list-item>
     <a md-line routerLink="office">
     <span md-line>Office</span>    
     </a>
   </md-list-item>
   
   
   <md-list-item>
     <span md-line (click)="qaServ.newQA()">New Q&A</span>    
   </md-list-item>
   
      <md-list-item>
     <span md-line (click)="sidenav.toggle()" [style.font-size]="'12px'">Close Menu</span>    
   </md-list-item>
 
    <md-list-item>
    <a md-line routerLink="office">
     <span md-line [style.font-size]="'12px'">Office</span>    
     </a>
   </md-list-item>
 
 
   
  </md-nav-list>


  </md-sidenav>
  



  
      <router-outlet></router-outlet>
     
</md-sidenav-container>


