
<md-card>
  <md-card-content>

    <section class="example-section">
      <md-checkbox
          class="example-margin"
          [(ngModel)] ="bookmark">
        Bookmark this Question
      </md-checkbox>
    </section>
    
  </md-card-content>
</md-card>

<question-display [question]="qa.q" ></question-display>

<md-card>  
  <md-card-actions>
    <button md-button *ngIf="!showAFlag" (click)="showAnswer()">SHOW ANSWER</button>
    <button md-button *ngIf="!showAFlag" (click)="rejectQuestion()">Different Question?</button>
  </md-card-actions>
</md-card>



<answer-display *ngIf="showAFlag" [answer]="qa.a" ></answer-display>


<md-card>
  <md-card-actions>
    <button  md-button *ngIf="showAFlag" (click)="newQA()">New QA?</button>
  </md-card-actions>
</md-card>