
<md-card>
  <md-card-content>
    <section class="example-section">
      <md-checkbox
          class="example-margin"
          [(ngModel)] ="bookmark">
        Bookmark this Question
      </md-checkbox>
    </section>
  </md-card-content>
</md-card>

<md-card>
<question-display [question]="qa.q" ></question-display>

  <md-card-actions *ngIf="!showAFlag">
    <button md-button  (click)="showAnswer()">SHOW ANSWER</button>
    <button md-button  (click)="rejectQuestion()">Different Question?</button>
  </md-card-actions>
</md-card>


<md-card>
<color-grid *ngIf="showAFlag && !showAPlusFlag" (flip)="showAPlusFlag = true" ></color-grid>
<answer-display *ngIf="showAPlusFlag" [answer]="qa.a" ></answer-display>
  <md-card-actions *ngIf="showAPlusFlag">
    <button  md-button (click)="newQA()">New QA?</button>
  </md-card-actions>
</md-card>

