
<p><i>Doctor Noetol's Original </i></p>

<h3> Random Knowledge Generator</h3>

<button md-raised-button (click)="toDisplay()">Get Random Q&A Now!!</button>

<ol>
  <li>Get Random Q&A</li>
  <li>Try Another If Not Interested</li>  
  <li>Consider Skeptically</li>
  <li>Investigate On Your Own</li>
  <li>Discuss Respectfully</li>
  <li>Form Your Own Opinions</li>
</ol>

<h4>Why Log In?</h4>

<p>New questions are <i>pulled randomly from the database</i>. Logged-in users:</p>
  <ul>
  <li>don't generate Q&A's they've <i>already seen</i></li>
  <li>can <i>access previously viewed</i> Q&A's from a history list</li>
  <li>can <i>bookmark</i> Q&A's for easy recovery</li>
  <li>can <i>annotate</i> Q&A's</li>
  </ul>





