
<div><h2>Noetol</h2></div> 

<p><b>Mobile Knowledge</b> for effective relief from <i>mild or chronic ignorance</i> due to vapid schooling or personal distractions.
Use daily, only as directed.</p>


<h3>Usage:</h3>

<ol>
  <li>Get random question (or select from your history)</li>
  <li>Read it (or try another if it's not for you)</li>  
  <li>Imagine possible answers</li>
  <li>View proposed answer and consider skeptically</li>
  <li>Search internet for more info and perspectives</li>
  <li>Discuss with others</li>
  <li>Form your own opinion</li>
</ol>

<a routerLink="/office"><button md-raised-button>Why Log In?</button></a>
<button md-raised-button (click)="toDisplay()">Random Q&A</button>
