<h2>
  Noettol</h2>
    
<h4></h4>

<p>For effective relief from <b>mild or chronic ignorance</b> due to vapid schooling or personal distractions.
<i>Use as directed.</i>

</p>


<h3>Suggested Usage:</h3>

<ol>
  <li>Get random question (or select from your history)</li>
  <li>Read it (or try another if it's not for you)</li>  
  <li>Consider possible answers</li>
  <li>View answer</li>
  <li>Reflect skeptically</li>
  <li>Search internet for differing perspectives</li>
  <li>Discuss with others</li>
  <li>Form your own opinion</li>
</ol>


<h3>Get Started!</h3> <button md-raised-button (click)="toDisplay()">RANDOM QUESTION</button>